*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
.a{
position:relative;
width:100%;
height:100vh;
padding:0 5%;
display:flex;
align-items:center;
justify-content:center;
}
nav{
width: 100%;
position:absolute;
top:0;
left:0;
padding: 20px 8%;
display: flex;
align-items:center;
justify-content:space-between;
color:white;
}
nav ul li{
display:inline-block;
list-style-type:none;
margin-left:40px;
}
nav ul li a{
text-decoration:none;
color:#fff;
font-size:17px;
}
.v{
z-index:-1;
position:absolute;
top:0;
right:0;
bottom:0;
}
@media (min-aspect-ratio:16/3){
.v{
width:100%;
height:100%;
}
}
@media (max-aspect-ratio:16/9){
.v{
width:100%;
height:100%;
}
}
#Content{
position:absolute;
left: 30px;
color:#efa;
line-height: 25px;
font-weight:bold;s
}
#Contact{
position:absolute;
top: 500px;
height: 250px;
width: 500px;
padding-left:20px;
padding-top:10px;
border-radius:30px;
background-color:sky blue;
color:dfa;
box-shadow:10px 10px 20px 4px #faf;
}
form{
}
input{
width:300px;
border-radius:20px;
    padding-left:10px;
    height:30px;
}
textarea{
width:300px;
    height:30px;
    padding-left:10px;
border-radius:20px;
#p{
    display: inline-block;
    font-size: 25px;
    color:#cfa;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border-right: 2px solid;
    letter-spacing: 8px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 6s alternate-reverse,
               cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50%{
        border-color: transparent;
    }
}
@keyframes typing {
    from{
        width: 0;
    }
}
.b{
height: 20px;
width: 20px;
background-color: transparent;
color:white;
}
.u{
background-color: #777;
height: 500px;
width: 800px;
color: white;
display: none;
z-index: -10;
}
h3{
  animation-name: color;
animation-duration: 6s;
 animation-iteration-count: 1000;
 aniamtion-timming-function: linear;
  
}
@keyframes color{
 0%{
   box-shadow: inset 0 0 10px red;
}
24.9%{
   box-shadow: inset 0 0 10px red;


}
25%{
   box-shadow: inset 0 0 10px yellow;
color: skyblue;

}
49.9%{
   box-shadow: inset 0 0 10px yellow;
color: skyblue;

}
50%{
   box-shadow: inset 0 0 10px #ddd;
color: #bef;

}
74.9%{
   box-shadow: inset 0 0 10px #ddd;
color: #bef;

}
75%{
   box-shadow: inset 0 0 10px 4px red;
color: cef;

}
100%{
   box-shadow: 0 0 10px 4px  red;
color: cef;

}
